/* game board table styling */

td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

.gamePiece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: red;
}

.minPath {
  border: solid 2px blue;
}

.visited {
  background-color: rgb(255, 206, 206);
}

.food {
  background-color: lightsalmon;
}

.open {
  background-color: white;
}

.home {
  background-color: lightgreen;
}

.dog {
  background-color: rgb(73, 73, 73);
}