/* game board table styling */

td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

.gamePiece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.minPath {
  border: solid 2px blue;
}

.visited {
  background-color: rgb(255, 206, 206);
}

.food {
  background-image: url('static/wiki.dog.food.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.open {
  background-color: white;
}

.end {
  background-image: url('static/wiki.dog.house.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.start {
  background-image: url('static/wiki.lawn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.dog {
  background-image: url('static/wiki.golden.puppy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.paw-print {
  background-image: url('static/wiki.paw.print.png');
  background-size: cover;
  background-repeat: no-repeat;
}